/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
body {
	wight: 100%;
	text-align: center;
	font-family: verdana, sans-serif;
}

.MyGrid{
	
    border: 2px solid gray;
    padding: 20px;
	font-family: verdana, sans-serif;
}

.gwt-ListBox { 
	margin: 5px;
	font-family: verdana, sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 500px;
	font-family: verdana, sans-serif;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}